{% trans_default_domain 'conf_parameter' %}
<h1>{{ "Application settings list"|trans }}</h1>
<table class="table table-hover" aria-describedby="{{ "Application settings list"|trans}}">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Value</th>
			<th scope="col">{{ canChange ? 'Actions' : '' }}</th>
		</tr>
	</thead>
	<tbody>
		{% for confParameter in confParameters %}
			<tr>
				<td>{{ confParameter.name }}
				</td>
				<td>{{ confParameter.value|u.truncate(80, '...') }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
